section {
  height: 100vh;
}

body {
  padding: 77px 149px 0px 149px !important;
}

.util-ir {
  display: block;
  overflow: hidden;
  width: 1px;
  height: 1px;
  font-size: 1px;
  line-height: 0;
  text-indent: -99999px;
}

.prev-btn {
  right: 209px;
}

.next-btn {
  left: 149px;
}

#image-upload-input {
  display: none;
}

form > label {
  padding: 77px 149px 0px 149px;
}

form > label > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f80ed;
  border-radius: 10px;
  width: 185px;
  height: 54px;
  color: white;
  font-weight: 700;
}

/*슬라이더*/

#carousel {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#carousel button {
  position: absolute;
  top: 50%;
  /* margin-top: -31px; */
  width: 140px;
  height: 62px;
  border-radius: 35px;
  border: 3px solid #828282;
  color: #828282;
  background-color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  cursor: pointer;
}

#carousel button:hover {
  background: #828282;
  color: white;
}

.carousel-cont {
  perspective: 1000px;
}
.carousel-list {
  width: 348px;
  height: 348px;
  position: relative;
  transform-style: preserve-3d;
}

.carousel-item {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 20.39568328857422px 0px #0000004d;
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.3));
  -webkit-box-reflect: below 35px
    linear-gradient(transparent 55%, rgba(255, 255, 255, 0.25));
  transition: all 0.5s;
}

/* .carousel-item:first-child {
  transform: rotateY(0deg) translateZ(250px);
}
.carousel-item:nth-child(2) {
  transform: rotateY(120deg) translateZ(250px) rotateY(-120deg);
}

.carousel-item:nth-child(3) {
  transform: rotateY(240deg) translateZ(250px) rotateY(-240deg);
} */

.now img {
  filter: brightness(100%) !important;
}

.carousel-item img {
  display: block;
  width: 100%;
  height: 100%;
  filter: brightness(70%);
}
