body {
  width: 100%;
  box-sizing: border-box;
  background-color: #f7f1c0;
  font-family: "Noto Sans KR", "sans-serif";
  margin-top: 98px !important;
}

/* #app {
  margin-top: 98px;
} */

#app article:nth-child(1),
article:nth-child(2) {
  width: 300px;
}

#app article {
  margin-inline: auto;
}

button {
  cursor: pointer;
}

#app article {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.main h2 {
  font-size: 55px;
  font-weight: 700;
  line-height: 55px;
}

.main .intro {
  margin: 10px 0px 36px 0px;
  font-size: 18px;
  font-weight: 500;
  color: #9b51e0;
  line-height: 26px;
}

.main img {
  max-width: 270px;
  height: 267px;
  pointer-events: none;
}

.comment {
  margin: 36px 0;
  font-size: 16px;
  line-height: 23px;
  font-weight: 700;
}

.gameBtn {
  width: 100%;
  height: 52px;
  border-radius: 10px;
  background-color: #fff;
  border: none;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
  color: #9b51e0;
  font-weight: 900;
  margin-top: 36px;
}

.page {
  font-size: 18px;
  font-weight: 400;
  color: #9b51e0;
}

.question {
  font-size: 18px;
  font-weight: 900;
}
#progress {
  width: 100%;
  margin: 12px 0 40px;
  appearance: none;
}

#progress::-webkit-progress-bar {
  background: #fff;
  border-radius: 12px;
  border: 1px solid #eeeeee;
  height: 6px;
}

#progress::-webkit-progress-value {
  background: #9b51e0;
  border-radius: 0px;
}
.question-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.question-list label {
  display: flex;
  align-items: start;
  margin-bottom: 12px;
}

.loading img {
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
  animation: spin linear 1s infinite;
}

@keyframes spin {
  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.type-comment {
  font-size: 14px;
  font-weight: 400;
}

.type {
  font-size: 36px;
  font-weight: 900;
  color: #9b51e0;
  margin-top: 10px;
}

.character {
  width: 230px;
  height: 240px;
}

.character-title {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.character-title::before,
.character-title::after {
  display: block;
  content: "";
  width: 300px;
  height: 2px;
  background-color: #9b51e0;
}
.character-title::before {
  margin-bottom: 6px;
}

.character-title::after {
  margin-top: 6px;
}

.character-info {
  margin-top: 22px;
  list-style-type: disc;
  box-sizing: border-box;
  padding: 0;
}

.character-info li::marker {
  color: #9b51e0;
  background-color: #9b51e0;
}

.character-info li + li {
  margin-top: 12px;
  text-align: center;
}

.result button {
  margin: 36px 0px 91px;
}
