/* 웹 css */
:root {
  --color-purple: #eae8fe;
}
body {
  background-color: #eae8fe;
}

#app {
  width: 100vw;
  font-family: "Noto Sans KR", "sans-serif";
}

header {
  display: flex;
  justify-content: center;
}

header img {
  width: 100%;
  max-width: 386px;
  height: 180px;
}
/* 주문 및 계산 화면 */
main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 28px;
  margin-top: 67px;
}

main section {
  width: 360px;
  background-color: #fff;
}

main section:first-child {
  padding: 27px 0;
}

/* 자판 버튼 UI */

.cola-wrapper,
.wrapper {
  display: grid;
  margin-inline: auto;
  place-content: center;
  grid-template-columns: repeat(3, 96px);
  grid-template-rows: repeat(2, 130px);
  gap: 12px;
}

.cola-wrapper article {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  padding: 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cola-wrapper .item {
  position: relative;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.cola-wrapper .item:active::before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 3px solid #6327fe;
  border-radius: 10px;
  box-sizing: border-box;
}

.cola-wrapper .item.sold-out::before {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  box-sizing: border-box;
  background: no-repeat center/58px 45px url("../img/Sold-out.png")
    rgba(0, 0, 0, 0.8);
}

.cola-wrapper .item.sold-out {
  pointer-events: none;
}

.cola-wrapper .item img {
  width: 36px;
  height: 65px;
}

.cola-wrapper .item p {
  font-weight: 500;
  font-size: 10px;
  text-align: center;
  padding: 6px 0;
}

.price-button {
  background-color: #6327fe;
  border: none;
  border-radius: 50px;
  width: 70px;
  height: 22px;
  color: white;
}

/* 웹 하단  */
.info-wrapper {
  background-color: #eae8fe;
  border-radius: 5px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.info-wrapper > div {
  padding: 10px 6px;
  font-size: 12px;
}

.info-wrapper div span:last-child {
  float: right;
}

input {
  height: 32px;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  grid-column-start: 1;
  grid-column-end: 3;
}

/* 주문 목록 */

.order-list {
  overflow-y: scroll;
  height: 106px;
  margin: 4px 9px;
  border-radius: 15px;
}

.order-list::-webkit-scrollbar {
  width: 6px;
}

.scroll_box::-webkit-scrollbar-track {
  background-color: transparent;
}

.order-list::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: white;
}

.order-list::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.order-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 8px;
  font-size: 9px;
  margin-bottom: 6px;
}

.order-item img {
  width: 18px;
  height: 33px;
}

.order-item .order-name {
  font-size: 9px;
  margin-left: 10px;
}

.order-item .order-count {
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

/* 버튼 */
.white-btn {
  filter: drop-shadow(black 0 0 1px);
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

.money {
  font-weight: 700;
}

.purple-btn {
  background-color: #6327fe;
  color: white;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}

/* 오른쪽 화면 */

.shopping-basket {
  background-color: var(--color-purple);
  /* padding: 0 27px; */
}

/* .section {
  height: 20px;
  background-color: var(--color-purple);
  position: relative;
  width: 100%;
} */

/* 소지금 */
.my-wallet {
  background: white;
  padding: 9px 27px;
}

.cont-mymoney {
  background-color: var(--color-purple);
  display: flex;
  justify-content: space-between;
  padding: 6px 10px;
  font-size: 14px;
  font-weight: 500;
  margin-inline: auto;
  width: 300px;
  border-radius: 5px;
}

.cart-wrapper {
  margin-top: 20px;
  padding: 25px 27px 26px;
  background-color: #fff;
}

.cart-title {
  text-align: center;
  font-size: 14px;
  padding-bottom: 13px;
  font-weight: 700;
}

.cart-list {
  height: 375px;
  overflow-y: scroll;
  background-color: var(--color-purple);

  width: 300px;
  padding: 12px;
  margin-inline: auto;
}

.cart-list::-webkit-scrollbar {
  width: 6px;
}

.cart-list::-webkit-scrollbar-track {
  background-color: transparent;
}

.cart-list::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: white;
}

.cart-list::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.cost {
  margin-top: 6px;
  text-align: right;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  justify-content: end;
}

/* 미디어 쿼리 */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    background-color: #fff;
  }
  main {
    margin-top: 8px;
  }
  header img {
    width: 166px;
    height: 71px;
  }
  .cart-wrapper {
    margin-top: 0px;
  }
}
